Pillow == 9.2.0
numpy
matplotlib==3.4.1
scipy
prettytable
argparse== 1.4.0
tensorflow-estimator==2.3.0
gast==0.3.3
--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchvision
torchaudio
